# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
*.egg

# Environment
.env
.env.*
!.env.example

# Node / Frontend
node_modules/
dist/
.next/
.nuxt/

# DB
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
