MYSQL_HOST=your_host
MYSQL_PORT=3306
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password
MYSQL_DB=your_database

MONGO_URI=mongodb://your_user:your_password@your_host:27017/?authSource=admin
MONGO_DB=your_database
